{% extends '@EasyAdmin/layout.html.twig' %}

{% block content_header_wrapper %} {% endblock content_header_wrapper %}



{% block main %}

    {% if isSubscribed %}
        <div>
            Your current subscription plan: {{ lastPayment.plan.title }}
        </div>
        <div>
            Expires at: {{ lastPayment.expiresAt | date("Y-m-d H:i") }}
        </div>
    {% else %}
        {% for __plan in plans %}
            <a href="{{ path("student_subscription_buy", {'id':__plan.id}) }}" class="btn btn-success">
                {{ 'Buy subscription' }} {{ __plan.title }}
            </a>
        {% endfor %}
    {% endif %}


{% endblock main %}


{% block content_footer_wrapper %} {% endblock content_footer_wrapper %}