{% extends 'base.html.twig' %}

{% block title %}Kapha!{% endblock %}

{% block header %}
<div class="row justify-content-center">
                                    <div class="col-lg-8">
                                        <h1 class="page-header-title mb-3">Help Center</h1>
                                        <p class="page-header-text">We're here to help. Browse our knowledgebase or contact us directly.</p>
                                    </div>
</div>
{% endblock %}

{% block header_image %}
<div class="svg-border-rounded text-light">
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144.54 17.34" preserveAspectRatio="none" fill="currentColor"><path d="M144.54,17.34H0V0H144.54ZM0,0S32.36,17.34,72.27,17.34,144.54,0,144.54,0"></path></svg>
<div class="svg-border-rounded text-light">
{% endblock %}

{% block body %}                            
<section class="bg-light py-10">
                        <div class="container">
                            <div class="row features text-center mb-10">
                                <div class="col-lg-4 col-md-6 mb-5">
                                    <a class="card card-link border-top border-top-lg border-primary h-100 lift" href="#!"><div class="card-body p-5">
                                            <div class="icon-stack icon-stack-lg bg-primary-soft text-primary mb-4"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg></div>
                                            <h6>Account</h6>
                                            <p class="card-text">Issues related to logging in, out, or about multiple devices.</p>
                                        </div>
                                        <div class="card-footer bg-transparent pt-0 pb-5"><div class="badge badge-pill badge-light font-weight-normal px-3 py-2">21 Entries</div></div></a>
                                </div>
                                <div class="col-lg-4 col-md-6 mb-5">
                                    <a class="card card-link border-top border-top-lg border-green h-100 lift" href="#!"><div class="card-body p-5">
                                            <div class="icon-stack icon-stack-lg bg-green-soft text-green mb-4"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-clock"><circle cx="12" cy="12" r="10"></circle><polyline points="12 6 12 12 16 14"></polyline></svg></div>
                                            <h6>Integrations</h6>
                                            <p class="card-text">Connecting with 3rd party apps to exchange data.</p>
                                        </div>
                                        <div class="card-footer bg-transparent pt-0 pb-5"><div class="badge badge-pill badge-light font-weight-normal px-3 py-2">9 Entries</div></div></a>
                                </div>
                                <div class="col-lg-4 col-md-6 mb-5">
                                    <a class="card card-link border-top border-top-lg border-yellow h-100 lift" href="#!"><div class="card-body p-5">
                                            <div class="icon-stack icon-stack-lg bg-yellow-soft text-yellow mb-4"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-clock"><circle cx="12" cy="12" r="10"></circle><polyline points="12 6 12 12 16 14"></polyline></svg></div>
                                            <h6>Billing</h6>
                                            <p class="card-text">Issues with payments or invoicing.</p>
                                        </div>
                                        <div class="card-footer bg-transparent pt-0 pb-5"><div class="badge badge-pill badge-light font-weight-normal px-3 py-2">14 Entries</div></div></a>
                                </div>
                                <div class="col-lg-4 col-md-6 mb-5 mb-lg-0">
                                    <a class="card card-link border-top border-top-lg border-purple h-100 lift" href="#!"><div class="card-body p-5">
                                            <div class="icon-stack icon-stack-lg bg-purple-soft text-purple mb-4"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-clock"><circle cx="12" cy="12" r="10"></circle><polyline points="12 6 12 12 16 14"></polyline></svg></div>
                                            <h6>Organizations</h6>
                                            <p class="card-text">Setting up and managing collections of users.</p>
                                        </div>
                                        <div class="card-footer bg-transparent pt-0 pb-5"><div class="badge badge-pill badge-light font-weight-normal px-3 py-2">17 Entries</div></div></a>
                                </div>
                                <div class="col-lg-4 col-md-6 mb-5 mb-lg-0">
                                    <a class="card card-link border-top border-top-lg border-red h-100 lift" href="#!"><div class="card-body p-5">
                                            <div class="icon-stack icon-stack-lg bg-red-soft text-red mb-4"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-clock"><circle cx="12" cy="12" r="10"></circle><polyline points="12 6 12 12 16 14"></polyline></svg></div>
                                            <h6>Performance</h6>
                                            <p class="card-text">Improving your system's speed and reliability.</p>
                                        </div>
                                        <div class="card-footer bg-transparent pt-0 pb-5"><div class="badge badge-pill badge-light font-weight-normal px-3 py-2">7 Entries</div></div></a>
                                </div>
                                <div class="col-lg-4 col-md-6 mb-5 mb-lg-0">
                                    <a class="card card-link border-top border-top-lg border-teal h-100 lift" href="#!"><div class="card-body p-5">
                                            <div class="icon-stack icon-stack-lg bg-teal-soft text-teal mb-4"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-clock"><circle cx="12" cy="12" r="10"></circle><polyline points="12 6 12 12 16 14"></polyline></svg></div>
                                            <h6>Customizing</h6>
                                            <p class="card-text">Building custom modules on top of our platform.</p>
                                        </div>
                                        <div class="card-footer bg-transparent pt-0 pb-5"><div class="badge badge-pill badge-light font-weight-normal px-3 py-2">14 Entries</div></div></a>
                                </div>
                            </div>
                            <div class="row justify-content-center">
                                <div class="col-lg-8 text-center">
                                    <h2>Can't find the answer you need?</h2>
                                    <p class="lead mb-5">Contact us and we'll get back to you as soon as possible with a solution to whatever issues you're having with SB UI Kit Pro.</p>
                                </div>
                            </div>
                            <div class="row align-items-center mb-10">
                                <div class="col-lg-4 text-center mb-5 mb-lg-0">
                                    <div class="section-preheading">Message Us</div>
                                    <a href="#!">Start a chat!</a>
                                </div>
                                <div class="col-lg-4 text-center mb-5 mb-lg-0">
                                    <div class="section-preheading">Call Anytime</div>
                                    <a href="#!">(555) 565-1846</a>
                                </div>
                                <div class="col-lg-4 text-center">
                                    <div class="section-preheading">Email Us</div>
                                    <a href="#!">support@startbootstrap.com</a>
                                </div>
                            </div>

                            {% for message in app.flashes('exito') %}
                                <div class="alert alert-success">
                                    {{ message }}
                                </div>
                            {% endfor %}
                            
                            {{ form_start(formulario) }}
                                <div class="my-custom-class-for-errors">
                                    {{ form_errors(formulario) }}
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        {{ form_row(formulario.nombre) }}
                                    </div>
                                    <div class="col-md-6">
                                        {{ form_row(formulario.email) }}
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        {{ form_row(formulario.comentario) }}
                                    </div>
                                </div>

                                <div class="text-center">
                                    {{ form_row(formulario.enviar) }}
                                </div>     
                            {{ form_end(formulario) }}


                            <!--<form>
                                <div class="form-row">
                                    <div class="form-group col-md-6"><label class="text-dark" for="inputName">Full name</label><input class="form-control py-4" id="inputName" type="text" placeholder="Full name"></div>
                                    <div class="form-group col-md-6"><label class="text-dark" for="inputEmail">Email</label><input class="form-control py-4" id="inputEmail" type="email" placeholder="name@example.com"></div>
                                </div>
                                <div class="form-group"><label class="text-dark" for="inputMessage">Message</label><textarea class="form-control py-3" id="inputMessage" type="text" placeholder="Enter your message..." rows="4"></textarea></div>
                                <div class="text-center"><button class="btn btn-primary btn-marketing mt-4" type="submit">Submit Request</button></div>
                            </form>-->
                        </div>
                        <div class="svg-border-rounded text-dark">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144.54 17.34" preserveAspectRatio="none" fill="currentColor"><path d="M144.54,17.34H0V0H144.54ZM0,0S32.36,17.34,72.27,17.34,144.54,0,144.54,0"></path></svg>
                        </div>
</section>
{% endblock %}