{% extends 'base.html.twig' %}

{% block title %}Registro!{% endblock %}

{% block header %}
    <div style="display: flex">
        {% for __plan in plans %}
            <div style="flex: 1; margin: 15px; padding: 15px; border-radius: 10px; background: #fff;text-align: center">
                <h1>{{ __plan.title }}</h1>
                <h2>{{ __plan.period }} days</h2>
                <h2>{{ __plan.amount }} USD</h2>
                <div>
                    <a class="btn btn-success" href="{{ path('registro_student_step3', {'id':__plan.id}) }}">{{ 'Choose plan' }}</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
